<header class="px-40 py-4 bg-white shadow-md">
  <div class="flex align-middle items-center justify-between">
    <div>
      <button (click)="navigateToHome()">
        <img src="./../../assets/logo.png" alt="logo" class="w-[190px]" />
      </button>
    </div>

    <div class="relative">
      <div class="bg-red-500 rounded-full p-2 w-[28px] absolute top-2 right-2">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          class="block fill-white h-[12px] w-[12px] stroke-white overflow-visible stroke-[5px]"
          aria-hidden="true"
          role="presentation"
          focusable="false"
        >
          <g fill="none">
            <path
              d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
            ></path>
          </g>
        </svg>
      </div>
      <input
        type="text"
        placeholder="Search"
        name="search"
        (input)="searchHome($event)"
        class="border border-gray-300 rounded-3xl py-2 px-4"
      />
    </div>

    <div>
      <button (click)="navigateToLogin()" class="text-white bg-red-500 rounded-lg px-4 py-2">Login</button>
    </div>
  </div>
</header>
